.table {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.toolbar {
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.tableWrapper {
  & > [data-with-border='true'] {
    border: none;
    box-shadow: none;
  }
}
