.table {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.toolbar {
    margin-bottom: 3rem;
}