.table {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.tableWrapper {
  .mantine-Paper-root {
    border: none;
    box-shadow: none;
  }

  table > tbody > tr > td:nth-child(2) {
    font-weight: 700;
  }
}
