.table {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.toolbar {
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.tableWrapper {
    :global(.mantine-Paper-root) {
        border: none;
        box-shadow: none;
    }

    table > tbody > tr > td:nth-child(2) {
        font-weight: 700;
    }
}
