.form {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    outline-style: none;
    border-radius: calc(infinity * 1px);
    padding-left: 2.5rem;
    border-width: 1px;
    height: 44px;
}

.inputWidthFull {
    width: 100%;
}

.inputWidthFixed {
    width: 238px;
}

.inputPrimary {
    border-color: #6F7171;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

.inputSecondary {
    border-color: "";
    background-color: black;
    color: white;
}

.closeIcon {
    position: absolute;
    top: 0.75rem;
    right: 0.50rem;
    cursor: pointer;
}

.searchIcon {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
}