.container {
    display: flex;
    flex-direction: column;
}

.advanced_table_page_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.buttons_page {
    align-items: center;
}