.layoutContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.layoutFirstColumn {
    align-content: center;
}

.layoutSecondColumn {
    align-content: center;
    flex: 1;
}