.layoutContainer {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 4rem;
}

.layoutFirstColumn {
  align-content: start;
}

.layoutSecondColumn {
  align-content: center;
  flex: 1;
}
