.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;
    gap: 0.25rem;
}

.actionButton {
    margin-left: auto;
}

.closeFiltersButton {
    margin-left: auto;
}